<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}" />
    
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    
    <style type="text/css">
    	a span {
    		margin-right: 1rem;
    	}
    </style>

</head>

<body class="theme-white">
        <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">菜单列表</div>
                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" onclick="jumpUrl('perm/add_or_edit');" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
	                            <div class="am-panel am-panel-default am-u-sm-12">
								    <div class="am-panel-bd">
								            <!-- 菜单 -->
								            <ul class="sidebar-nav">
									             <li class="sidebar-nav-link" th:each="menu : ${menus}">
									                 <a href="javascript:;" th:class="${not #lists.isEmpty(menu.children)} ? 'sidebar-nav-sub-title'">
									                     <span th:if="${not #lists.isEmpty(menu.children)}" class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
									                     <span th:unless="${not #lists.isEmpty(menu.children)}" class="am-icon-minus-square-o am-margin-right-sm"></span>
									                     <i th:class="${menu.iconClass}"></i>
									                     <span th:text="${menu.name}"></span>
									                     <span class="am-badge am-badge-danger am-fr">删除</span>
														 <span class="am-badge am-badge-secondary am-fr">编辑</span>
									                 </a>
									                 <ul class="sidebar-nav sidebar-nav-sub" th:if="${not #lists.isEmpty(menu.children)}">
									                 	<li class="sidebar-nav-link" th:each="child : ${menu.children}">
									                         <a href="javascript:;" th:class="${not #lists.isEmpty(child.children)} ? 'sidebar-nav-sub-title'">
											                     <span th:if="${not #lists.isEmpty(child.children)}" class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
											                     <span th:unless="${not #lists.isEmpty(child.children)}" class="am-icon-minus-square-o am-margin-right-sm"></span>
											                     <i th:class="${child.iconClass}"></i>
											                     <span th:text="${child.name}"></span>
											                     <span class="am-badge am-badge-danger am-fr">删除</span>
																 <span class="am-badge am-badge-secondary am-fr">编辑</span>
											                 </a>
											                 <ul class="sidebar-nav sidebar-nav-sub" th:if="${not #lists.isEmpty(child.children)}">
											                 	<li class="sidebar-nav-link" th:each="child2 : ${child.children}">
											                         <a href="javascript:;">
											                            <span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span th:class="${child2.iconClass}" th:text="| ${child2.name}|"></span>
										                                <span class="am-badge am-badge-danger am-fr">删除</span>
																		<span class="am-badge am-badge-secondary am-fr">编辑</span>
											                         </a>
											                     </li>
											                 </ul>
									                     </li>
									                 </ul>
									             </li>
									         </ul>
								            <!-- <ul class="sidebar-nav">
								                <li class="sidebar-nav-link">
								                    <a href="javascript:;">
								                    	<span class="am-icon-minus-square-o am-margin-right-sm"></span>
								                        <i class="am-icon-home"></i> 首页
														<span class="am-badge am-badge-danger am-fr">删除</span>
														<span class="am-badge am-badge-secondary am-fr">编辑</span>
								                    </a>
								                </li>
								                
								                <li class="sidebar-nav-link">
								                    <a href="javascript:;">
								                    	<span class="am-icon-minus-square-o am-margin-right-sm"></span>
								                        <i class="am-icon-home"></i> haha
														<span class="am-badge am-badge-danger am-fr">删除</span>
														<span onclick="editMenu();" class="am-badge am-badge-secondary am-fr">编辑</span>
								                    </a>
								                </li>
								
								                <li class="sidebar-nav-link">
								                    <a href="javascript:;" class="sidebar-nav-sub-title">
								                    	<span class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
								                        <i class="am-icon-table"></i> 权限管理
								                        <span class="am-badge am-badge-danger am-fr">删除</span>
														<span onclick="editMenu();" class="am-badge am-badge-secondary am-fr">编辑</span>
								                        
								                    </a>
								                    <ul class="sidebar-nav sidebar-nav-sub">
								                        <li class="sidebar-nav-link">
								                            <a href="javascript:;" class="sidebar-nav-sub-title">
								                            	<span class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
								                                <span class="am-icon-angle-right"></span> 用户
								                                <span class="am-badge am-badge-danger am-fr">删除</span>
																<span class="am-badge am-badge-secondary am-fr">编辑</span>
								                            </a>
								                            <ul class="sidebar-nav sidebar-nav-sub">
								                            	<li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            	<span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 新增/编辑用户
										                                <span class="am-badge am-badge-danger am-fr">删除</span>
																		<span class="am-badge am-badge-secondary am-fr">编辑</span>
										                            </a>
										                        </li>
										                        <li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            <span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 删除用户
										                                <span class="am-badge am-badge-danger am-fr">删除</span>
																		<span class="am-badge am-badge-secondary am-fr">编辑</span>
										                            </a>
										                        </li>
								                            </ul>
								                        </li>
								
								                        <li class="sidebar-nav-link">
								                            <a href="javascript:;" class="sidebar-nav-sub-title">
								                            	<span class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
								                                <span class="am-icon-angle-right"></span> 角色
								                                <span class="am-badge am-badge-danger am-fr">删除</span>
																<span class="am-badge am-badge-secondary am-fr">编辑</span>
								                            </a>
								                            
								                            <ul class="sidebar-nav sidebar-nav-sub">
								                            	<li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            	<span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 新增/编辑角色
										                                <span class="am-badge am-badge-danger am-fr">删除</span>
																		<span class="am-badge am-badge-secondary am-fr">编辑</span>
										                            </a>
										                        </li>
										                        <li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            <span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 删除角色
										                                <span class="am-badge am-badge-danger am-fr">删除</span>
																		<span class="am-badge am-badge-secondary am-fr">编辑</span>
										                            </a>
										                        </li>
								                            </ul>
								                        </li>
								                    </ul>
								                </li>
								            </ul> -->
								        </div>
								</div>
								
								<!-- <div class="am-panel am-panel-default am-u-sm-6">
								    <div class="am-panel-bd">这是一个基本的面板组件。</div>
								</div> -->
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/amazeui.datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript">
	
		function editMenu(){
			
			event.stopPropagation();
		}
		
	</script>
</body>

</html>