<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <style type="text/css">
    	.am-checkbox {
    		float: left;
    		padding-left: 35px;
    	}
    </style>
</head>

<body class="theme-white">
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">

               
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl" th:text="|为《${roleName}》授权|">为《超级管理员》授权</div>
                            </div>
                            <div class="widget-body am-fr">

                                <form id="grant_form_" class="am-form tpl-form-border-form tpl-form-border-br">
                                    
                                   <div class="am-panel am-panel-default am-u-sm-12">
									    <div class="am-panel-bd">
									    	<ul class="sidebar-nav">
									             <li class="sidebar-nav-link" th:each="menu : ${menus}">
									                 <a href="javascript:;" th:class="${not #lists.isEmpty(menu.children)} ? 'sidebar-nav-sub-title'">
									                     <span th:if="${not #lists.isEmpty(menu.children)}" class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
									                     <span th:unless="${not #lists.isEmpty(menu.children)}" class="am-icon-minus-square-o am-margin-right-sm"></span>
									                     <i th:class="${menu.iconClass}"></i>
									                     <span th:text="${menu.name}"></span>
									                     <label class="am-checkbox am-success" m_t="menu">
														  	<input type="checkbox" th:checked="${menu.selected} ? 'checked'" th:value="${menu.id}" data-am-ucheck>
														 </label>
									                 </a>
									                 <ul class="sidebar-nav sidebar-nav-sub" th:if="${not #lists.isEmpty(menu.children)}">
									                 	<li class="sidebar-nav-link" th:each="child : ${menu.children}">
									                         <a href="javascript:;" th:class="${not #lists.isEmpty(child.children)} ? 'sidebar-nav-sub-title'">
											                     <span th:if="${not #lists.isEmpty(child.children)}" class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
											                     <span th:unless="${not #lists.isEmpty(child.children)}" class="am-icon-minus-square-o am-margin-right-sm"></span>
											                     <i th:class="${child.iconClass}"></i>
											                     <span th:text="${child.name}"></span>
											                     <label class="am-checkbox am-success" m_t="menu">
																  	<input type="checkbox" th:checked="${child.selected} ? 'checked'" th:value="${child.id}" data-am-ucheck>
																 </label>
											                 </a>
											                 <ul class="sidebar-nav sidebar-nav-sub" th:if="${not #lists.isEmpty(child.children)}">
											                 	<li class="sidebar-nav-link" th:each="child2 : ${child.children}">
											                         <a href="javascript:;">
											                            <span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span th:class="${child2.iconClass}" th:text="| ${child2.name}|"></span>
										                                <label class="am-checkbox am-success" m_t="menu">
																		  	<input type="checkbox" th:checked="${child2.selected} ? 'checked'" th:value="${child2.id}" data-am-ucheck>
																		 </label>
											                         </a>
											                     </li>
											                 </ul>
									                     </li>
									                 </ul>
									             </li>
									         </ul>
									    </div>
									</div>
                                    
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                        	<button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success go_history">取消</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button id="grant_button_" type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/amazeui.min.js}"></script>
    <script th:src="@{/js/amazeui.datatables.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
	<script type="text/javascript">
		$(function() {
			$(".am-checkbox").click(function(event){
				var check = $(this).find("input[type='checkbox']").is(":checked");
				if($(this).attr("m_t") == 'menu') {
					var ul = $(this).parent().next('ul');
					var lastMenu = $(this).parent().parent().parent().prev("a");
					if(ul.length > 0) {
						if(check) {
							$(ul).find("input[type='checkbox']").uCheck('check');
						}else {
							$(ul).find("input[type='checkbox']").uCheck('uncheck');
						}
					}
					
					if(lastMenu.length > 0) {
						if(check) {
							$(lastMenu).find("input[type='checkbox']").uCheck('check');
						}
					}
				}else if($(this).attr("m_t") == 'button'){
					var second_a = $(this).parent().parent().parent().prev("a");
					if(check) {
						$(second_a).find("input[type='checkbox']").uCheck('check');
						$(second_a).parent().parent().prev("a").find("input[type='checkbox']").uCheck('check');
					}
					
				}
				
				event.stopPropagation();
			});
			
			//授权
			$("#grant_button_").click(function() {
				var check = $("#grant_form_ input[type='checkbox']:checked");
				if(check.length == 0) {
					parent.SweetWarning("未选择授权项");
				}else {
					var perm = [];
					$.each(check, function(i, n) {
						perm.push($(n).val());
					});
					CommonUtil.post('/role/grant',false,{'roleId' : '[[${roleId}]]', 'perm' : perm},function(re) {
						
						if(re.success) {
							parent.SweetAlert(true, re.msg);
						}else {
							parent.SweetAlert(false, re.msg);
						}
		    		}, function(XMLHttpRequest, textStatus, errorThrown) {
		    			parent.SweetAlert(false, "授权失败");
		    		});
				}
			});
		});
	</script>
</body>

</html>