<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <style type="text/css">
    	.am-checkbox {
    		float: left;
    	}
    </style>
</head>

<body class="theme-white">
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">

               
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">为《超级管理员》授权</div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br">
                                    
                                   <div class="am-panel am-panel-default am-u-sm-12">
									    <div class="am-panel-bd">
									    	<ul class="sidebar-nav">
								                <li class="sidebar-nav-link">
								                    <a href="javascript:;">
								                    	<span class="am-icon-minus-square-o am-margin-right-sm"></span>
								                        <i class="am-icon-home"></i> 首页
								                        <label class="am-checkbox am-success" m_t="menu">
														  <input type="checkbox" data-am-ucheck>
														</label>
								                    </a>
								                </li>
								                
								                <li class="sidebar-nav-link">
								                    <a href="javascript:;">
								                    	<span class="am-icon-minus-square-o am-margin-right-sm"></span>
								                        <i class="am-icon-home"></i> haha
								                        <label class="am-checkbox am-success" m_t="menu">
														  <input type="checkbox" data-am-ucheck>
														</label>
								                    </a>
								                </li>
								
								                <li class="sidebar-nav-link">
								                    <a href="javascript:;" class="sidebar-nav-sub-title">
								                    	<span class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
								                        <i class="am-icon-table"></i> 权限管理
								                        <label class="am-checkbox am-success" m_t="menu">
														  <input type="checkbox" data-am-ucheck>
														</label>
								                    </a>
								                    <ul class="sidebar-nav sidebar-nav-sub">
								                        <li class="sidebar-nav-link">
								                            <a href="javascript:;" class="sidebar-nav-sub-title">
								                            	<span class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
								                                <span class="am-icon-angle-right"></span> 用户
								                                <label class="am-checkbox am-success" m_t="menu">
																  <input type="checkbox" data-am-ucheck>
																</label>
								                            </a>
								                            <ul class="sidebar-nav sidebar-nav-sub">
								                            	<li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            	<span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 新增/编辑用户
										                                <label class="am-checkbox am-success" m_t="button">
																		  <input type="checkbox" data-am-ucheck>
																		</label>
										                            </a>
										                        </li>
										                        <li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            	<span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 删除用户
										                                <label class="am-checkbox am-success" m_t="button">
																		  <input type="checkbox" data-am-ucheck>
																		</label>
										                            </a>
										                        </li>
								                            </ul>
								                        </li>
								
								                        <li class="sidebar-nav-link">
								                            <a href="javascript:;" class="sidebar-nav-sub-title">
								                            	<span class="am-icon-plus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
								                                <span class="am-icon-angle-right"></span> 角色
								                                <label class="am-checkbox am-success" m_t="menu">
																  <input type="checkbox" data-am-ucheck>
																</label>
								                            </a>
								                            
								                            <ul class="sidebar-nav sidebar-nav-sub">
								                            	<li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            	<span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 新增/编辑角色
										                                <label class="am-checkbox am-success" m_t="button">
																		  <input type="checkbox" data-am-ucheck>
																		</label>
										                            </a>
										                        </li>
										                        <li class="sidebar-nav-link">
										                            <a href="javascript:;">
										                            	<span class="am-icon-minus-square-o am-margin-right-sm sidebar-nav-sub-ico-plus"></span>
										                                <span class="am-icon-angle-right"></span> 删除角色
										                                <label class="am-checkbox am-success" m_t="button">
																		  <input type="checkbox" data-am-ucheck>
																		</label>
										                            </a>
										                        </li>
								                            </ul>
								                        </li>
								                    </ul>
								                </li>
								            </ul>
									    
									    </div>
									</div>
                                    
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                        	<button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success go_history">取消</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/amazeui.min.js}"></script>
    <script th:src="@{/js/amazeui.datatables.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
	<script type="text/javascript">
		$(function() {
			$(".am-checkbox").click(function(event){
				var check = $(this).find("input[type='checkbox']").is(":checked");
				if($(this).attr("m_t") == 'menu') {
					var ul = $(this).parent().next('ul');
					var lastMenu = $(this).parent().parent().parent().prev("a");
					if(ul.length > 0) {
						if(check) {
							$(ul).find("input[type='checkbox']").uCheck('check');
						}else {
							$(ul).find("input[type='checkbox']").uCheck('uncheck');
						}
					}
					
					if(lastMenu.length > 0) {
						if(check) {
							$(lastMenu).find("input[type='checkbox']").uCheck('check');
						}
					}
				}else if($(this).attr("m_t") == 'button'){
					var second_a = $(this).parent().parent().parent().prev("a");
					if(check) {
						$(second_a).find("input[type='checkbox']").uCheck('check');
						$(second_a).parent().parent().prev("a").find("input[type='checkbox']").uCheck('check');
					}
					
				}
				
				event.stopPropagation();
			});
		});
	</script>
</body>

</html>