<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}" />
    
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    
    <style type="text/css">
    	label {
    		margin-top: 0px;
    	}
    	.am-checkbox {
    		min-height: 0rem;
    		margin-top: 0px;
    		margin-bottom: 0px;
    	}
    </style>

</head>

<body class="theme-white">
        <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">角色列表</div>
                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button onclick="jumpUrl('role/add_or_edit');" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                           <!--  <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button> -->
                                            <button type="button" onclick="jumpUrl('role/grant_page');" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 授权</button>
                                            <button type="button" onclick="deleteRole();" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped am-table-hover tpl-table-black " id="example-r">
                                    <thead>
                                        <tr>
                                        	<th>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>&nbsp;全选
												</label>
                                        	</th>
                                        	<th>序号</th>
                                            <th>角色名称</th>
                                            <th>角色标识符</th>
                                            <th>角色描述</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeX">
                                        	<td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td>
                                        	<td>1</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;" onclick="jumpUrl('role/add_or_edit');">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="even gradeC">
                                        	<td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td>
                                        	<td>2</td>
                                            <td>天纵之人</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;" onclick="jumpUrl('role/add_or_edit');">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="gradeX">
                                        	<td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td>
                                        	<td>3</td>
                                            <td>王宽师</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;" onclick="jumpUrl('role/add_or_edit');">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="even gradeC">
                                        	<td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td>
                                        	<td>4</td>
                                            <td>着迷</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="even gradeC">
                                        	<td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td>
                                        	<td>5</td>
                                            <td>醉里挑灯看键</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="even gradeC">
                                        	<td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td>
                                        	<td>6</td>
                                            <td>罢了</td>
                                            <td>张鹏飞</td>
                                            <td>张鹏飞</td>
                                            <td>2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:;">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled"><a href="#">«</a></li>
                                        <li class="am-active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/amazeui.datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript">
		//删除角色
		function deleteRole() {
			/* parent.SweetComfirm("确定要删除记录吗？", function() {
				if(2/1 == 3) {
					parent.SweetAlert(true, "删除成功！");
					location.href = location.href;
				}else {
					parent.SweetAlert(false, "删除失败！");
				}
			}); */
			parent.SweetWarning("请选择删除的记录！");
		}
	
	</script>
</body>

</html>