<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- 侧边导航栏 -->
     <div class="left-sidebar" th:fragment="left">
         <!-- 用户信息 -->
         <!-- <div class="tpl-sidebar-user-panel">
             <div class="tpl-user-panel-slide-toggleable">
                 <div class="tpl-user-panel-profile-picture">
                     <img th:src="@{/img/user04.png}" alt="">
                 </div>
                 <span class="user-panel-logged-in-text">
           <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
           禁言小张
       </span>
                 <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
             </div>
         </div> -->

         <!-- 菜单 -->
         <ul class="sidebar-nav" th:each="menu,menuStat : ${menus}">
            
             <li class="sidebar-nav-link">
                 <a href="javascript:;" url="/home" onclick="loadContent(this);">
                     <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                 </a>
             </li>
             <li class="sidebar-nav-link">
                 <a href="javascript:;" class="sidebar-nav-sub-title">
                     <i class="am-icon-table sidebar-nav-link-logo"></i> 权限管理
                     <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                 </a>
                 <ul class="sidebar-nav sidebar-nav-sub">
                     <li class="sidebar-nav-link">
                         <a href="javascript:;" url="/table-list.html" onclick="loadContent(this);">
                             <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户${request}
                         </a>
                     </li>

                     <li class="sidebar-nav-link">
                         <a href="javascript:;" url="/table-list.html" onclick="loadContent(this);">
                             <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 角色
                         </a>
                     </li>
                     <li class="sidebar-nav-link">
                         <a href="javascript:;" url="/table-list.html" onclick="loadContent(this);">
                             <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 资源
                         </a>
                     </li>
                 </ul>
             </li>
         </ul>
     </div>
</body>
</html>

