<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}" />
    
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    
    <style type="text/css">
    	label {
    		margin-top: 0px;
    	}
    	.am-checkbox {
    		min-height: 0rem;
    		margin-top: 0px;
    		margin-bottom: 0px;
    	}
    </style>

</head>

<body class="theme-white">
        <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">用户列表</div>
                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button onclick="jumpUrl('user/add');" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                           <!--  <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button> -->
                                            <!-- <button type="button" onclick="deleteBatchUser();" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field " placeholder="输入账号或姓名或手机号">
                                    <span class="am-input-group-btn">
								      <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
								    </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table id="data_table_" width="100%" class="am-table am-table-compact am-table-striped am-table-hover tpl-table-black">
                                    <thead>
                                        <tr>
                                        	<!-- <th>
                                        		<label class="am-checkbox am-success">
												  <input id="all_selected_" type="checkbox" data-am-ucheck>&nbsp;全选
												</label>
                                        	</th> -->
                                        	<th>序号</th>
                                            <th>账号</th>
                                            <th>姓名</th>
                                            <th>手机号</th>
                                            <th>角色</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	
                                        <tr th:each="user,state : ${userList}">
                                        	<!-- <td>
                                        		<label class="am-checkbox am-success">
												  <input type="checkbox" value="" data-am-ucheck>
												</label>
                                        	</td> -->
                                        	<td th:text="${state.index + 1}">1</td>
                                            <td th:text="${user.username}">Amaze UI 模式窗口</td>
                                            <td th:text="${user.name}">张鹏飞</td>
                                            <td th:text="${user.mobile}">张鹏飞</td>
                                            <td th:text="${not #lists.isEmpty(user.sysUserRoles)}? ${user.sysUserRoles[0].sysRole.roleName} : ''">张鹏飞</td>
                                            <td th:text="${#dates.format(user.createtime, 'yyyy-MM-dd HH:mm:ss')}">2016-09-26</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                	<a href="javascript:;" class="tpl-table-black-operation-case" onclick="jumpUrl('case/list');">
                                                        <i class="am-icon-pencil"></i> 案例
                                                    </a>
                                                    <a href="javascript:;" th:onclick="|jumpUrl('user/edit_${user.id}');|">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" th:onclick="|deleteBatchUsers('${user.id}')|" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 分页 -->
    						<div th:replace="fragments/pagination :: pagination">Pagination</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/amazeui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/amazeui.datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script type="text/javascript">
		//批量删除
		function deleteBatchUsers(ids) {
			if(CommonUtil.isEmpty(ids)) {
				parent.SweetWarning("请选择删除的行记录！");
			} else {
				parent.SweetComfirm("确定要删除该记录吗？", function() {
					var param = ids.split(',');
					CommonUtil.post('/user/delete', false, {'ids': param}, function(re) {
						if(re.success) {
							parent.SweetAlert(true, re.msg);
							location.reload();
						}else {
							parent.SweetAlert(false, re.msg);
						}
					}, function(XMLHttpRequest, textStatus, errorThrown) {
		    			parent.SweetAlert(false, "删除失败");
		    		});
					
				});
			}
		}
	
	</script>
</body>

</html>