<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    
</head>

<body class="theme-white">
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">

               
                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl" th:text="${userId}? '编辑用户' : '新增用户'">新增用户</div>
                            </div>
                            <div class="widget-body am-fr">

                                <form id="user-form" class="am-form tpl-form-border-form tpl-form-border-br">
                                    <input type="hidden" id="user-id" th:value="${userId}">
                                    <div class="am-form-group">
                                        <label for="user-uesrname" class="am-u-sm-3 am-form-label">账&nbsp;&nbsp;&nbsp;号<span>*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-uesrname" placeholder="输入账号（4-20个字符）" data-validation-message="输入账号（4-20个字符）" maxlength="20">
                                        </div>
                                    </div>
                                    
                                    <div class="am-form-group">
                                        <label for="user-password" class="am-u-sm-3 am-form-label">密&nbsp;&nbsp;&nbsp;码<span>&nbsp;&nbsp;</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="password" class="tpl-form-input" value="********" disabled>
                                            <small>默认12345678，为了用户安全，登陆后请及时修改密码。</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">姓&nbsp;&nbsp;&nbsp;名<span>&nbsp;&nbsp;</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-name" placeholder="输入姓名（至多10个字符）" data-validation-message="输入姓名（至多10个字符）" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-mobile" class="am-u-sm-3 am-form-label">手机号<span>&nbsp;&nbsp;</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input js-ajax-validate" id="user-mobile" maxlength="11" placeholder="输入正确格式的11位手机号" data-validation-message="输入正确格式的11位手机号">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-role" class="am-u-sm-3 am-form-label">角&nbsp;&nbsp;&nbsp;色<span>*</span></label>
                                        <div class="am-u-sm-9">
                                            <select id="user-role" data-am-selected="{dropUp: 1}" data-validation-message="选择角色" required>
											  <option value="">选择角色</option>
											  <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
											</select>

                                        </div>
                                    </div>
                                    
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                        	<button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success go_history">取消</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/amazeui.min.js}"></script>
    <script th:src="@{/js/amazeui.datatables.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
	<script type="text/javascript">
		$(function(){
			//初始化编辑页面信息
			initData();
			$('#user-form').validator({
				validate: function(validity) {
				 // Ajax 验证
				  if ($(validity.field).is('#user-uesrname')) {
					  if(CommonUtil.isEmpty($(validity.field).val())) {
						  validity.valid = false;
				          return validity; 
					  }
			        // 异步操作必须返回 Deferred 对象
			        return $.ajax({
			          type:"POST",
			          url: '/common/v_u',
			          cache: false,
			          async: false,
					  data: {"userId" : $("#user-id").val(), "username" : $(validity.field).val()}
			        }).then(function(data) {
			        	 // Ajax 请求成功，根据服务器返回的信息，设置 validity.valid = true or flase
			        	 if(data.success) {
			         		validity.valid = true;
						}else {
							$(validity.field).attr("data-validation-message", data.msg);
							validity.valid = false;
						}
			        	return validity;
			        }, function() {
			        	// Ajax 请求失败，根据需要决定验证是否通过，然后返回 validity
			        	validity.valid = false;
			          	return validity;
			        });
			      }
				 
			      if ($(validity.field).is('#user-mobile')) {
			        // 异步操作必须返回 Deferred 对象
			        return $.ajax({
			          type:"POST",
			          url: '/common/v_m',
			          cache: false,
			          async: false,
					  data: {"userId" : $("#user-id").val(), "mobile" : $(validity.field).val()}
			        }).then(function(data) {
			        	 // Ajax 请求成功，根据服务器返回的信息，设置 validity.valid = true or flase
			        	 if(data.success) {
			         		validity.valid = true;
						}else {
							$(validity.field).attr("data-validation-message", data.msg);
							validity.valid = false;
						}
			        	return validity;
			        }, function() {
			        	// Ajax 请求失败，根据需要决定验证是否通过，然后返回 validity
			        	validity.valid = false;
			          	return validity;
			        });
			      }
				},
			    onValid: function(validity) {
			      $(validity.field).closest('.am-form-group').find('small').hide();
			    },

			    onInValid: function(validity) {
			      var $field = $(validity.field);
			      var $alert = $field.next('small');
			      // 使用自定义的提示信息 或 插件内置的提示信息
			      var msg = $field.attr('data-validation-message') || this.getValidationMessage(validity);
			      if (!$alert.length) {
			        $alert = $('<small class="error-tip"></small>').hide().
			          appendTo($field.parent());
			      }

			      $alert.html(msg).show();
			    },
			    submit: function() {
			    	var formValidity = this.isFormValid();

			        $.when(formValidity).then(function() {
			          // 验证成功的逻辑
			          exeFunction();
			        }, function() {
			          // 验证失败的逻辑
			        });
			    	return false;
			    }
			});
		});
		
		//初始化编辑页面信息
		function initData() {
			if(!CommonUtil.isEmpty($("#user-id").val())) {
				CommonUtil.post('/user/get_' + $("#user-id").val(), false, null, function(re) {
					if(re.success) {
						$("#user-uesrname").val(re.result.username);
						$("#user-uesrname").attr('disabled', true);
						$("#user-name").val(re.result.name);
						$("#user-mobile").val(re.result.mobile);
						var op = $("#user-role").find('option');
						$.each(op, function(i, n) {
							if($(n).attr('value') == re.result.roleId) {
								$(n).replaceWith('<option value="' + $(n).attr('value') + '" selected>' + $(n).text() + '</option>');
								return false;
							}
						});
					} else {
						parent.SweetAlert(false, re.msg);
					}
				}, function(XMLHttpRequest, textStatus, errorThrown) {
					parent.SweetAlert(false, "数据加载失败");
				});
			}
		}
		
		//提交表单方法
		function exeFunction() {
			var param = {
					"id" : $("#user-id").val(),
					"username" : $("#user-uesrname").val(),
					"name" : $("#user-name").val(),
					"mobile" : $("#user-mobile").val(),
					"roleId" : $("#user-role").val()	
			};
			var url = '/user/create';
			if(!CommonUtil.isEmpty(param.id)) {//编辑
				url = '/user/update';
			}
			CommonUtil.post(url,false,param,function(re) {
				if(re.success) {
					parent.SweetAlert(true, re.msg);
					jumpUrl('user/list');
				}else {
					parent.SweetAlert(false, re.msg);
				}
    		}, function(XMLHttpRequest, textStatus, errorThrown) {
    			parent.SweetAlert(false, CommonUtil.isEmpty(param.id) ? "新增失败" : "编辑失败");
    		})
		}
		
	</script>
</body>

</html>